body {
    background: url('../img/backgroundHome.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* background-color: rgb(105, 18, 18); */
    min-height: 600px;

}

.main-header .container {
    height: 500px;
}
