<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ base_url() }}/css/bootstrap.min.css">
    <script src="{{ base_url() }}/js/jquery-3.3.1.min.js"></script>
    <script src="{{ base_url() }}/js/bootstrap.min.js"></script>
    
    <!-- Custom Css -->
    <!-- <link rel="stylesheet" href="{{ base_url() }}/public/css/styles.css"> -->
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="{{ base_url() }}/">Panaderia San Angel</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{ base_url() }}/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ base_url() }}/products">Products</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container mt-5">
        {% block body %}{% endblock %}
      </div>
  </body>
</html>