{% extends "base.html" %}

{% block title %}Panaderia San Angel | {{ producto.nombre }}{% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ base_url() }}/public/css/products.css">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h1>Confirmar orden</h1>
                    <p>Producto:<b>{{ producto.nombre }}</b></p>
                    <p>Sub total: Q <b>{{ sub_total1 }}</b></p>
                    <p>Envio: Q {{ envio }}</p>
                    <p>Compra + envío: Q {{ sub_total2 }}</p>
                    <p>Impuestos: Q {{ impuesto }}</p>
                    <h4>Total: Q {{ total }}</h4>
                    <a href="javascript:comprar({{ producto_id }},{{ cantidad }});">Confirmar</a>
                </div>
            </div>  
        </div>
    </div>

{% endblock %}