{% extends "base.html" %}

{% block title %}Panaderia San Angel{% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ base_url() }}/public/css/styles.css">
{% endblock %}
{% block body %}
<header class="main-header">
    <div class="background-overlay text-white py-5">
      <div class="container">
        <div class="row d-flex h-100">
          <div class="col-sm-12 text-center justify-content-center align-self-center">
            <h1>
              Panaderia San Angel
            </h1>
            <p>Elit reiciendis aspernatur obcaecati accusantium corporis? Mollitia eius ratione excepturi.</p>
            <a href="#" class="btn btn-secondary btn-lg text-white">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div>
    <div class="container">
      <div class="jumbotron bg-transparent text-white">
        <h1 class="display-4">Panaderia San Angel!</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident expedita odit, aperiam iusto numquam quis sed vel doloribus ratione. Perferendis, perspiciatis. Ex at, fuga fugit eaque nobis minima esse ratione?.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-info btn-lg" href="#" role="button">Learn more</a>
      </div>
    </div>
  </div>
{% endblock %}