{% extends "base.html" %}

{% block title %}Iniciar sesi&oacute;n{% endblock %}
{% block head %}
    {{ parent() }}
    <base href="{{ base_url() }}/"/>
{% endblock %}
{% block body %}
    {% if status == "error" %}
        <div class="alert alert-danger" role="alert">
            Debe iniciar sesi&oacute;n
        </div>
    {% endif %}
    <div class="row  justify-content-md-center">
        <div class="col-lg-4 col-md-4 col-sm-10 col-xs-12">
            <div class="card">
                <div class="card-header">
                    Inicio de sesion
                </div>
                <div class="card-body">
                    <form method="post" action="{{ base_url() }}/admin">
                        <div class="form-group">
                            <label class="" for="email">Correo electronico</label>
                            <input type="email" name="email" id="email" placeholder="example@domain.com" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label for="password">Contrase&ntilde;a</label>
                            <input type="password" name="password" id="password" placeholder="*********" class="form-control" required="required">
                        </div>
                        <input type="submit" class="btn btn-primary" value="Aceptar">
                        <input type="reset" class="btn btn-danger" value="Cancelar">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}