{% extends "base.html" %}

{% block title %}Panaderia San Angel | {{ producto.nombre }}{% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ base_url() }}/public/css/products.css">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
              <div class="card mb-3 mt-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="{{ producto.imagen }}" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title text-capitalize">{{producto.nombre}}</h5>
                      <p class="card-text">{{producto.descripcion}}.</p>
                      <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                      <form method="post" action="{{ base_url() }}/productos/{{ producto_id }}">
                        <h4>Comprar</h4>
                        <div class="form-group">
                            <label>Cantidad:</label>
                            <input type="number" min="1" step="1" class="form-control" name="cantidad" placeholder="0">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Comprar" class="btn btn-primary">
                        </div>
                    </form>
                    </div>
                  </div>
                </div>
              </div>  
        </div>
    </div>

{% endblock %}