{% extends "base.html" %}

{% block title %}Panaderia San Angel | Productos{% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ base_url() }}/public/css/products.css">
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <table class="table table-responsive table-striped text-white">
                <thead>
                    <th>Producto</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for producto in productos%}
                    <tr>
                        <td class="text-capitalize">{{ producto.nombre}}</td>
                        <td>{{ producto.descripcion}}</td>
                        <td>Q. {{ producto.precio}}</td>
                        <td><img src="{{ producto.imagen}}" class="img img-fluid" width="150" alt=""></td>
                        <td><a href="{{ base_url() }}/products/{{producto.id}}" class="btn btn-info" >Ordenar</a></td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}